<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="text-center">Consolas de Videojuegos</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% if (consola && consola.length > 0) { %>
                <% consola.forEach(consola => { %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="<%= consola.imageUrl %>" alt="<%= consola.name %>" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder"><%= consola.name %></h5>
                                    <span>$<%= consola.price.toFixed(2) %></span>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button class="btn btn-outline-dark mt-auto" onclick="addToCart('<%= consola.id %>', '<%= consola.name %>', '<%= consola.price %>')">Añadir al carrito</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="text-center">No hay consolas disponibles.</p>
            <% } %>
        </div>
    </div>

    <h2 class="text-center">Videojuegos</h2>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% if (videojuego && videojuego.length > 0) { %>
                <% videojuego.forEach(videojuego => { %>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="<%= videojuego.imageUrl %>" alt="<%= videojuego.name %>" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder"><%= videojuego.name %></h5>
                                    <span>$<%= videojuego.price.toFixed(2) %></span>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button class="btn btn-outline-dark mt-auto" onclick="addToCart('<%= videojuego.id %>', '<%= videojuego.name %>', '<%= videojuego.price %>')">Añadir al carrito</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="text-center">No hay videojuegos disponibles.</p>
            <% } %>
        </div>
    </div>
</section>
